<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Brew Builder: Log In or Sign Up</title>
  <link rel="stylesheet" href="/css/style-sessions.css">
</head>
<body>
  <div class="header-container">
    <header>
      <h1>Beer Recipe Builder</h1>
    </header>
  </div>
  <div class="container">
    <div class="msg">
      <h1 class="app-name">Brew Builder</h1>
        <h3>The best place for home brewers to build recipes.</h3>
        <nav>
            <ul>
              <li><a class="login" href="/sessions/new">Log In</a></li>
              <li><a class="sign-up" href="/users/new">Sign Up</a></li>
            </ul>
        </nav>
    </div>
  </div>
</body>
</html>