
    
    <% for(let items=0;items<fermentableAmount;items++) { %>
        <div class="fermentable">
            <div class="select">
                <label for="select" id="fermenatable-select">Selection:</label>
                <select name="select">
                    <% for(let i=0;i<fermentables.length;i++){ %>
                        <option value="<% fermentables[i].id %>"><%= `${fermentables[i].name}`%></option>
                    <% } %>
                </select>
            </div>


            <div class="percentage">
                <label for="percentage">Percentage:</label>
                <input type="number" name="percentage">
            </div>

            
            <div> 
                <label for="amount">Amount:</label>
                <output class="amount"></output>
            </div>
        </div>
    <% } %>
    <button>Add</button> 
    -->