* {
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    width: 100%;
    background-color: rgba(204,102,0,1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body {
    background-image: url('../images/barley_hops.jpg');
    background-size: cover;
}

h1 {
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.back {
    background-color: #1C80FF;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-name {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.msg {
    width: 65%;
    height: 600px;
    background-color: rgba(0,0,0,0.75);
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

a {
    width: 250px;
    height: 55px;
    border: 1px solid whitesmoke;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #1C80FF;
}

.sign-up {
    background-color: rgb(192,192,192);
}

.input-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    color: whitesmoke;
}

input {
    width: 200px;
    height: 24px;
    background-color: black;
    border: 1px solid whitesmoke;
    font-size: 14px;
    padding-left: 5px;
    color: whitesmoke;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 125px;
    height: 35px;
    background-color: #1C80FF;
    font-size: 14px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}   









